<h1>Domains</h1>

<hr>

<ul>
  <% @domains.order(:registration).each do |domain| %>
    <li><%= link_to domain.name, domain %></li>
  <% end %>
</ul>

<hr>

<%= link_to 'New Domain', new_domain_path %>
