@import 'normalize';
@import 'bourbon';
@import 'base/base';
@import 'neat';

@import 'nav';
@import 'home';
@import 'domain';

body > main {
  @include outer-container;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.notice, .alert {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}