.domain.register {
  .whois {
    @include span-columns(3 of 12);
    &:nth-child(4n-1) {
      @include omega;
    }
  }
}

$view-domain-border: 1px solid $light-gray;

.domain.show {
  h2, h3 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0.75rem;
    &:first-child { margin-top: 0; }
  }

  .epp pre {
    margin: 0;
  }

  .properties {
    & > li {
      @include outer-container;
      border-top: $view-domain-border;
      padding: 0.7rem 0;
      &:last-child {
        border-bottom: $view-domain-border;
      }
      & > h2 {
        @include span-columns(3 of 12);
      }
      & > div,
      & > ul.nameservers {
        @include span-columns(9 of 12);
      }
    }
  }
}